.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  :root {
    --blue-color: #5a96da;
    --blue-alt-color: #0d69d5;
    --blue-icon-bg-color: #5a96da88;
    --orange-color: #f59e0b;
    --orange-icon-bg-color: #f59f0b59;
    --green-color: #22c55e;
    --green-icon-bg-color: #22c55e6b;
    --red-color: #f44336;
    --grey-color: #888888c0;
    --grey-bg-color: #8888882a;
    --button-hover-color: #f6f6f6;
    --main-duration: 0.3s;
    --page-background-color: #f1f5f9;
    --box-shadow-color: #ddd;
    --input-border-color: #ccc;
  }
  /* Start Box */
  .d-flex {
    display: flex;
  }
  .f-wrap {
    flex-wrap: wrap;
  }
  .justify-center {
    justify-content: center;
  }
  .align-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .d-grid {
    display: grid;
  }
  .gap-20 {
    gap: 20px;
  }
  .gap-10 {
    gap: 10px;
  }
  .d-block {
    display: block;
  }
  @media (max-width: 767px) {
    .block-mobile {
      display: block;
    }
    .hide-mobile {
      display: none;
    }
  }
  /* End Box */
  /* Start Padding + Margin */
  .p-5 {
    padding: 5px;
  }
  .p-10 {
    padding: 10px;
  }
  .p-15 {
    padding: 15px;
  }
  .p-20 {
    padding: 20px;
  }
  .pt-10 {
    padding-top: 10px;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .pt-20 {
    padding-top: 20px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  .pb-15 {
    padding-bottom: 15px;
  }
  .pb-20 {
    padding-bottom: 20px;
  }
  .pb-30 {
    padding-bottom: 30px;
  }
  .pl-15 {
    padding-left: 15px;
  }
  .pl-25 {
    padding-left: 25px;
  }
  .pl-35 {
    padding-left: 35px;
  }
  .m-0 {
    margin: 0;
  }
  .m-15 {
    margin: 15px;
  }
  .m-20 {
    margin: 20px;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mt-5 {
    margin-top: 5px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-25 {
    margin-top: 25px;
  }
  .mt-40 {
    margin-top: 40px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .ml-26 {
    margin-left: 26px;
  }
  .ml-50 {
    margin-left: 50px;
  }
  .mr-15 {
    margin-right: 15px;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .mr-5 {
    margin-right: 5px;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  /* End Padding + Margin */
  /* Start Color */
  .c-black {
    color: black;
  }
  .c-white {
    color: white;
  }
  .c-grey {
    color: var(--grey-color);
  }
  .c-red {
    color: var(--red-color);
  }
  .c-green {
    color: var(--green-color);
  }
  .c-blue {
    color: var(--blue-color);
  }
  .c-orange {
    color: var(--orange-color);
  }
  .c-red {
    color: var(--red-color);
  }
  .bg-red {
    background-color: var(--red-color);
  }
  .bg-green {
    background-color: var(--green-color);
  }
  .bg-blue {
    background-color: var(--blue-color);
  }
  .bg-orange {
    background-color: var(--orange-color);
  }
  .bg-white {
    background-color: white;
  }
  .bg-eee {
    background-color: #eee;
  }
  /* End Color */
  /* Start Position */
  .p-relative {
    position: relative;
  }
  .p-absolute {
    position: absolute;
  }
  /* End Position */
  /* Start Font */
  .txt-c {
    text-align: center;
  }
  .txt-l {
    text-align: left;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-15 {
    font-size: 15px;
  }
  .fs-20 {
    font-size: 20px;
  }
  .fs-25 {
    font-size: 25px;
  }
  .fs-40 {
    font-size: 40px;
  }
  .fw-bold {
    font-weight: bold;
  }
  @media (max-width: 767px) {
    .txt-c-mobile {
      text-align: center;
    }
  }
  /* End Font */
  /* Start Border */
  .rad-6 {
    border-radius: 6px;
  }
  .rad-10 {
    border-radius: 10px;
  }
  .rad-half {
    border-radius: 50%;
  }
  .b-none {
    border: none;
  }
  .border-ccc {
    border: 1px solid #ccc;
  }
  .border-eee {
    border: 1px solid #eee;
  }
  .box-shadow {
    box-shadow: 0 0 10px var(--box-shadow-color);
  }
  /* End Border */
  /* Start Width + Height */
  .w-full {
    width: 100%;
  }
  .w-100 {
    width: 100px;
  }
  .w-fit {
    width: fit-content;
  }
  .w-40 {
    width: 40px;
  }
  .w-100 {
    width: 100px;
  }
  .h-full {
    height: 100%;
  }
  .h-100 {
    height: 100px;
  }
  /* End Width + Height */
  /* Start Components */
  .center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    text-align: center;
    height: fit-content;
  }
 .visit {
    margin: 0 15px 15px auto;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.save {
  margin-left: auto;
  transition: var(--main-duration);
  cursor: pointer;
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.flex-box {
  border: 1px solid var(--grey-color);
  width: calc(50% - 10px);
}
.done {
  text-decoration: line-through;
  opacity: 0.3;
}
  /* End Components */  